@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap')
@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap')
@import "Animations"

.App
  background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%)
  background-size: 600% 600%
  text-align: center
  width: 100%
  height: 100vh
  animation: App-Background 12s ease infinite
  box-sizing: border-box
  text-transform: uppercase
  position: relative

.wrapper
  margin: 0 auto
  position: absolute
  top: 50%
  left: 50%
  transform: translateX(-50%) translateY(-50%)

input
  cursor: text
  border-width: 0
  border-style: none
  border-image: none
  text-align: center

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

button
  cursor: pointer
  width: 150px
  height: 75px
  border: 2px solid rgba(255, 255, 255, 0.6)
  border-radius: 10px
  color: rgb(255, 255, 255)
  font-size: 20px
  font-family: 'Montserrat', sans-serif
  text-transform: uppercase
  background-size: 600% 600%
  background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%)
  animation: App-Background 12s ease infinite
  transition: background-color 0.7s ease
  &:disabled
    background-image: none
    background-color: rgba(255, 255, 255, 0.6)
    color: grey
    font-weight: normal
    cursor: inherit
  &:focus
    outline: 0

.counterDisplay
  width: 500px
  height: 200px
  padding-top: 20px
  margin: 0 auto
  border: 2px solid rgba(255, 255, 255, 0.6)
  border-radius: 10px
  background-color: rgba(255, 255, 255, 0.5)

.currSetVal
  color: grey
  font-size: 30px

.number
  background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%)
  background-size: 600% 600%
  margin: 0 auto 10px auto
  font-size: 100px
  -webkit-text-fill-color: transparent
  font-weight: bold
  font-family: 'Montserrat', sans-serif
  -webkit-background-clip: text
  animation: App-Background 12s ease-in-out infinite

.counterButtons
  display: flex
  justify-content: space-around
  width: 500px
  margin: 10px auto

.alertNumber
  animation: blur 0.75s ease-out infinite

.alertMessage
  height: 40px
  display: block
  margin: 0 auto
  color: #fff
  font-size: 20px
  font-weight: 700
  text-transform: uppercase
  animation: blur 0.75s ease-out infinite
  text-shadow: 0px 0px 7px #fff, 0px 0px 10px #fff

.displayNone
  display: none

.opacityZero
  opacity: 0

.currentSettings
  color: grey

.flex
  display: flex
  justify-content: space-around

.settingsInputs
  display: flex
  justify-content: space-around
  width: 500px
  margin: 0 auto 10px auto
  border: 2px solid rgba(255, 255, 255, 0.6)
  border-radius: 10px

.inputContainer
  position: relative
  width: 150px
  height: 50px
  margin: 20px auto

.optionsInput
  position: absolute
  left: 0
  z-index: 100
  color: transparent
  width: 100%
  height: 100%
  transform: scale3d(1, 0, 1)
  transform-origin: 50% 100%
  transition: opacity 0.3s, transform 0.3s
  opacity: 0
  outline: none
  background-color: rgba(255, 255, 255, 0.4)
  &:focus
    background-color: rgba(255, 255, 255, 0.4)
    opacity: 1
    color: grey
    font-size: 15px
    transform: scale3d(1, 1, 1)
    + .inputName
      transform: translate3d(0, -2.15em, 0) scale3d(0.8, 0.8, 1) translateZ(1px)

.inputName
  color: white
  display: flex
  align-items: center
  font-size: 15px
  height: 100%
  width: 100%
  cursor: text
  transition: transform 0.3s
  transform-origin: 0% 50%

.labelWrapper
  display: flex
  align-items: center
  justify-content: space-around
  text-align: left
  position: relative
  width: 100%

.lastRealValue
  font-size: 25px
  font-weight: bold
  float: right
  margin-right: 10px
  color: #c6e2ff
  animation: neon .08s ease-in-out infinite alternate

.verSwitcher
  z-index: 2
  cursor: pointer
  display: block
  border: 2px solid rgba(255, 255, 255, 0.6)
  border-radius: 10px
  position: absolute
  top: 20px
  left: 50%
  transform: translateX(-50%)
  padding: 5px
  font-family: 'Montserrat', sans-serif
  > span
    &:first-child
      margin-right: 15px

.secondVersion
  border-color: blueviolet
  > .currentVersionIsOne
    color: coral
  > .currentVersionIsTwo
    color: black
  > .switcher
    left: 50%
    background-color: coral

.currentVersionIsOne
  color: black
  width: 100px

.currentVersionIsTwo
  color: white
  width: 100px

.switcher
  z-index: -1
  background-color: rgba(255, 255, 255, 0.4)
  position: absolute
  top: 0
  left: 0
  padding:
  width: 50%
  height: 100%
  border-radius: 10px
  transition: left 0.3s ease


/*SECOND VERSION*/

.secondVersionApp
  background-image: linear-gradient(to bottom, rgb(54,19,82), rgb(58,8,54), rgb(50,7,32), rgb(37,6,16), rgb(21,2,2))
  background-size: 100%
  animation: none
  .wrapper
  .wrapper.settingsActive
    border: 4px solid white
    border-radius: 10px
    animation: neon-wrapper-turn-on 1s ease-in-out
    @include neonBoxShadowsMax
  .counter
    height: 500px
    .counterDisplay
      height: 380px
      border: none
      background-color: transparent
      .number
        background-image: none
        font-size: 200px
        color: white
        background-size: 100%
        -webkit-text-fill-color: inherit
  .settings
    height: 500px
  button
    border: none
    color: #fff
    background-image: none
    background-size: 100%
    background-color: inherit
    animation: neon 1.5s ease-in-out infinite alternate
    font-size: 20px
    font-weight: bold
    transition: all 0.5s
    &:hover
      color: #FF1177
      animation: none
    &:disabled
      color: #c6e2ff
      animation: none
  .settingsInputs
    flex-direction: column
    height: calc(100% - 100px)
    border: none
  .inputContainer
    height: 50%
    width: 70%
    margin: 0 auto
  .optionsInput
    height: 50%
    top: 50%
    transform: translateY(-50%)
    background-color: transparent
    &:focus
      border: 2px solid white
      border-radius: 10px
      animation: neon-turn-on 0.2s ease-in-out, neon-turned-on 1.5s ease-in-out 0.2s infinite alternate
  .inputName
    position: absolute
    height: 50%
    top: 50%
    transform: translateY(-50%)

.theCounter
  font-family: 'Great Vibes', cursive
  font-size: 100px
  color: white
  animation: neon 1.5s ease-in-out infinite alternate
  text-transform: none





