@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap')

@keyframes App-Background
  0%
    background-position: 14% 0%
  50%
    background-position: 87% 100%
  100%
    background-position: 14% 0%

@keyframes blur
  from
    text-shadow: (0px 0px 10px #fff,
    0px 0px 10px #fff,
    0px 0px 25px #fff,
    0px 0px 25px #fff,
    0px 0px 25px #fff,
    0px 0px 25px #fff,
    0px 0px 25px #fff,
    0px 0px 25px #fff,
    0px 0px 50px #fff,
    0px 0px 50px #fff,
    0px 0px 50px #fff,
    0px 0px 150px #fff,
    0px 10px 100px #fff,
    0px 10px 100px #fff,
    0px 10px 100px #fff,
    0px 10px 100px #fff,
    0px -10px 100px #fff,
    0px -10px 100px #fff)
  to
    text-shadow: #fff 0px 0px 0px

.App
  background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%)
  background-size: 600% 600%
  text-align: center
  width: 100%
  height: 100vh
  animation: App-Background 7s ease infinite
  box-sizing: border-box
  text-transform: uppercase
  position: relative

.wrapper
  margin: 0 auto
  position: absolute
  top: 50%
  left: 50%
  transform: translateX(-50%) translateY(-50%)

button
  cursor: pointer
  width: 150px
  height: 75px
  border: 2px solid rgba(255, 255, 255, 0.6)
  border-radius: 10px
  color: rgb(255, 255, 255)
  font-size: 20px
  font-family: 'Montserrat', sans-serif
  text-transform: uppercase
  background-size: 600% 600%
  background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%)
  animation: App-Background 7s ease infinite
  transition: background-color 0.7s ease
  &:disabled
    background-image: none
    background-color: rgba(255, 255, 255, 0.6)
    color: grey
    font-weight: normal
  &:focus
    outline: 0

.counterDisplay
  width: 500px
  height: 200px
  padding-top: 20px
  margin: 0 auto
  border: 2px solid rgba(255, 255, 255, 0.6)
  border-radius: 10px
  background-color: rgba(255, 255, 255, 0.5)

.currSetVal
  color: gold
  font-size: 30px
  font-weight: bold

.number
  background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%)
  background-size: 600% 600%
  margin: 0 auto 10px auto
  font-size: 100px
  -webkit-text-fill-color: transparent
  font-weight: bold
  font-family: 'Montserrat', sans-serif
  -webkit-background-clip: text
  animation: App-Background 7s ease-in-out infinite

.counterButtons
  display: flex
  justify-content: space-around
  width: 500px
  margin: 10px auto

.alertNumber
  font-size: 40px
  font-weight: bold
  color: red

.alertMessage
  display: block
  background-color: red

  margin: 0 auto
  color: #fff
  font-size: 20px
  font-weight: 700
  text-transform: uppercase
  animation: blur 0.75s ease-out infinite
  text-shadow: 0px 0px 7px #fff, 0px 0px 10px #fff

.displayNone
  display: none

.currentSettings
  color: grey

.flex
  display: flex
  justify-content: space-around

.settingsInputs
  width: 500px
  margin: 0 auto 10px auto
  border: 2px solid rgba(255, 255, 255, 0.6)
  border-radius: 10px
  background-color: rgba(255, 255, 255, 0.5)


.optionsInput
  margin: 0 auto 15px auto
  width: 100px
  background-color: rgba(255, 255, 255, 0.4)
  transform: scale3d(1, 0, 1)
  transform-origin: 50% 100%
  transition: opacity 0.3s, transform 0.3s
  opacity: 0
  &:focus
    opacity: 1
    transform: scale3d(1, 1, 1)
    outline: none

.inputName
  color: white
  font-weight: bold
  margin-right: 10px

