.App
  background: linear-gradient(red, black)
  text-align: center
  border: 2px solid black
  margin: 200px

button
  width: 100px
  height: 50px
  border: 2px solid black
  margin-bottom: 10px
  color: red
  font-weight: bold
  &:disabled
    color: grey
    font-weight: normal


.number
  margin: 10px auto
  width: 100px
  height: 100px
  background-color: black
  font-size: 30px
  color: white
  font-weight: bold

.alertNumber
  font-size: 40px
  font-weight: bold
  color: red

.optionsInput
  margin: 0 auto 15px auto
  width: 40px

span
  color: white
  font-weight: bold
  margin-right: 10px